<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Agregar Producto
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Producto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="forma" (ngSubmit)="onSubmit()" >


          <div class="mb-3">
            <label for="productName" class="col-form-label">Nombre:</label>
            <input type="text" class="form-control" id="productName"  name="name" required formControlName="name" [class.is-invalid] = 'notValidName' [(ngModel)]="product.name" placeholder="Nombre del Producto">
            <small *ngIf = "notValidName" class = "text-danger">Ingrese un nombre de producto</small>
          </div>


          <div class="mb-3">
            <label for="productCategory" class="col-form-label">Categoría:</label>
            <select class="form-control" id="productCategory" >
              <option>Seleccione una categoría...</option>
              <option>Insumos</option>
              <option>Equipos</option>
              <option>Herramientas</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="productDescription" class="col-form-label">Descripción:</label>
            <textarea class="form-control" id="productDescription"  name="description"  formControlName="description" [(ngModel)]="product.description" placeholder="Descripción del producto"></textarea>
          </div>
          <div class="mb-3">
            <label for="initialStock" class="col-form-label">Stock Inicial:</label>
            <input type="number" class="form-control" id="initialStock"  name="stock" min="0"  formControlName="stock" [(ngModel)]="exampleStock" (keypress)="preventNegative($event)" placeholder="Stock inicial del producto">

          </div>
          <div class="mb-3">
            <label for="criticalStock" class="col-form-label">Stock Crítico:</label>

            <button [cPopover]="popoverHtml"
                    cPopoverPlacement="right"
                    [cPopoverTrigger]="'click'"
                    cButton
                    class="m-1"
                    color="danger"
                    size="lg" class = "myButton">
              ?
              <ng-template #popoverHtml>
                <h3 class="popover-header">
                  Stock Crítico
                </h3>
                <div class="popover-body">
                  Es el número de productos en el que el sistema mandará una alarma cuando el stock llegue a ese número. <i cTextColor="info"></i>
                </div>
              </ng-template>
            </button>

            <input type="number" class="form-control" id="criticalStock"  name="criticalStock" min="0" formControlName="criticalStock" placeholder="Stock crítico del producto  " [(ngModel)]="product.criticalStock">
          </div>


        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary" (click)="onSubmit()" >Confirmar</button>
      </div>
    </div>
  </div>
</div>

<h3 class = "mt-5">Formulario</h3>

<pre>Estado de Formulario: {{forma.valid}}
  <br>
  Status:{{forma.status}}
</pre>

<pre>
  {{forma.value | json}}
</pre>
