<div class="container-xl">
    <div class="d-flex gap-4 justify-content-end" style="margin-top: 20px;">
        <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#modalAddUser">
          <i class="bi bi-person-plus"></i>
          Agregar Usuario
        </button>
        <button type="button" class="btn btn-outline-success btn-sm">
          <i class="bi bi-filetype-xlsx"></i>
          Importar Usuarios
        </button>
    </div>

    <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link link-dark" href="/users/students">Estudiantes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-dark" href="/users/teachers">Profesores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-dark" href="/users/assistants">Asistentes</a>
        </li>
    </ul>
</div>