<div class="dropdown-menu dropdown-menu-xxl-end w-auto p-3 justify-content-center" style="max-width: 200px;max-height: 300px;overflow-y: auto;">
    <a class="dropdown-tittle"><h4>Notificaciones</h4></a>
    @for (alert of alerts; track $index) {
        <div class="container-fluid p-2">
            <a class="dropdown-item">
                <h4 class="text-break">{{alert.name}}</h4>
                <p class="text-break">{{alert.description}}</p>
                <p class="text-break">{{alert.date}}</p>
            </a>
        </div>
    }
</div>