<div class="d-flex justify-content-center mt-5">
    <div class="card mt-5">
        <div class="card-body p-4">
            <h2>Recuperación de Contraseña</h2>
            <form [formGroup]="resetRequestForm" (ngSubmit)="onRequestPasswordReset()">
            <p class="text-secondary-emphasis">Ingresa tu correo electrónico para comenzar.</p>
            <div class="mb-3">
                <label class="col-form-label" for="email">Correo Electrónico:</label>
                <input class="form-control" id="email" formControlName="mail" type="email" />
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!resetRequestForm.valid">Solicitar</button>
            </form>
            @if (isRequestSent) {
                <p>Revisa tu correo para continuar con el proceso.</p>
            }
        </div>
    
        <a href="auth/login" class="card-footer justify-content-center mt-5 text-center btn">Volver al inicio de sesión</a>
    
    </div>
</div>