<app-lending-options></app-lending-options>
<!-- <div class="custom_input">
  <svg xmlns="http://www.w3.org/2000/svg" class="svg_icon bi-search" viewBox="0 0 16 16">
    <path
      d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z">
    </path>
  </svg>
  <input type="text" [(ngModel)]="searchTerm" placeholder="Buscar..." class="input" style="min-width: 500px" />
</div> -->
<div>
  <table class="table table-striped">
    <thead class="table-light">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre del prestatario</th>
        <th scope="col">Fecha</th>
        <th scope="col">Profesor Asignado</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for (lending of lending; track lending; let i = $index) {
      <tr>
        <th scope="row">{{lending.id}}</th>
        <td>{{lending.borrowerName}}</td>
        <td>{{lending.date}}</td>
        <td>
          @if (lending.teacherId != null) {
            {{lending.teacherName}}
          }
          @else {
            No existe un profesor asignado
          }
        </td>
        <td>
          <button type="button" class="btn btn-outline-success me-2"
          (click)="openLendingDetails(lending)"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal">
    Ver detalles
  </button>
          <button class="btn btn-outline-danger me-2"(click)="deleteLending(lending.id)">Eliminar</button>
          <button class="btn btn-danger" (click)="finishiLending(lending.id)">Finalizar préstamo</button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Detalles del préstamo</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><strong>ID:</strong> {{ selectedLending?.id }}</p>
        <p><strong>Nombre del prestatario:</strong> {{ selectedLending?.borrowerName }}</p>
        <p><strong>Fecha:</strong> {{ selectedLending?.date }}</p>
        <p><strong>Profesor asignado:</strong>
          @if (selectedLending?.teacherId != null) {
            {{ selectedLending?.teacherName }}
          }
          @else {
            No existe un profesor asignado
          }
        </p>
        <p><strong>Detalles del préstamo:</strong> {{ selectedLending?.date }}</p>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nombre del producto</th>
              <th scope="col">Cantidad</th>

            </tr>
          </thead>
          <tbody>
            @for (lending of selectedLending?.lendingProducts; track lending; let i = $index) {
            <tr>
              <td>{{ selectedLending?.lendingProducts[i].name}}</td>
              <td>
              <div class="input-group quantity-input">
                <button class="btn btn-outline-secondary" type="button" (click)="decreaseAmount(i)">-</button>
                <input type="text" [(ngModel)]="selectedLending?.lendingProducts[i].amount" class="form-control text-center" readonly />
                <button class="btn btn-outline-secondary" type="button" (click)="increaseAmount(i)">+</button>
              </div>
              </td>

            </tr>
          }
          </tbody>
        </table>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>
