.titulo {
  text-align: center;
  color: #333;
  font-size: 45px;
  margin-top: 20px;
}

.custom_input {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 700px;
  margin: 20px auto;
}

.search-bar {
  width: 100%;
  display: flex;
  align-items: center;
  border: 2px solid #ffa500;
  border-radius: 30px;
  overflow: hidden;
  background-color: white;
}

/* Iconos (búsqueda y calendario) */
.input-group-text {
  background-color: white;
  border: none;
  color: #ffa500;
  padding: 10px 15px;
  font-size: 1.2rem;
  cursor: pointer; /* Hace clickeable el icono */
}

/* Input de búsqueda */
.form-control {
  border: none;
  padding: 10px 15px;
  font-size: 1rem;
  outline: none;
}

/* Ocultar el input de fecha */
.date-input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  width: 0;
  height: 0;
}


