<app-user-options></app-user-options>
    
<div class="table-responsive-sm container-xl" style="margin-top: 20px;">
    <table class="table table-striped-columns table-sm">
        <thead>
            <tr>
                <th>Rut</th>
                <th>Nombre</th>
                <th>Contactos</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @for (teacher of teachers; track $index) {
                <tr>
                    <td>{{teacher.rut}}</td>
                    <td>{{teacher.name}}</td>
                    <td> {{teacher.mail}} <br> @if (teacher.phoneNumber != 0) { +569 {{teacher.phoneNumber}} }</td>
                    <td>
                        <div class="d-flex gap-2 justify-content-end">
                            <button type="button" class="btn btn-outline-secondary btn-sm">
                              <i class="bi bi-pencil-square"> editar</i>
                            </button>
                            <button type="button" class="btn btn-outline-danger btn-sm">
                              <i class="bi bi-x-square"> eliminar</i>
                            </button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
  </div>

<app-add-user></app-add-user>
