<app-lending-options></app-lending-options>
<div ngbAccordion>

  <div>
  <table class="table table-striped table-bordered">
    <thead class="table-light">
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Nombre</th>
        <th scope="col">Estado</th>
      </tr>
    </thead>
  </table>
  </div>
  @for (lending of activeLendings; track lending; let i = $index) {

    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>
          {{lending.id}} {{lending.name}} ({{lending.date}})
          @if (lending.associated == true) {
            <span class="badge bg-success">Esta asociado</span>
          }
          @else {
              <span class="badge bg-danger">No esta asociado</span>
          }
        </button>

      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <p>Detalles del préstamo: {{ lending.date}}</p>
          <button class="btn bg-danger" (click)="deleteLending(lending.id)">Eliminar</button>
          <button class="btn bg-success" (click)="finishiLending(lending.id)">Finalizar prestamo</button>
        </div>
      </div>
    </div>
  }
</div>
