/* You can add global styles to this file, and also import other style files */
.swal2-popup {
  background-color: #f9f9f9; /* Fondo de la alerta */
  border-radius: 15px; /* Bordes redondeados */
  font-family: 'Times new roman', sans-serif; /* Tipografía personalizada */
}

.swal2-title {
  color: #151110; /* Cambiar el color del título */
}

.swal2-confirm {
  background-color: #28a745; /* Cambiar el color del botón de confirmación */
}

.swal2-cancel {
  background-color: #dc3545; /* Cambiar el color del botón de cancelación */
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
