

.swal2-popup {
  background-color: #f9f9f9;
  border-radius: 15px;
}

.swal2-title {
  color: #151110;
}

.swal2-confirm {
  background-color: #28a745;
}

.swal2-cancel {
  background-color: #dc3545;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
