.category-card {
  position: relative; /* Necesario para la posición de la línea */
  padding-bottom: 5px; /* Espacio para la línea */
  cursor: pointer;
  transition: color 0.3s;
}

.category-card p {
  margin: 0;
  font-weight: bold;
  color: #555; /* Color del texto */
}

.category-card::after {
  content: ''; /* Necesario para mostrar la línea */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0; /* Oculto por defecto */
  height: 3px; /* Grosor de la línea */
  background-color: #F79123; /* Color de la línea */
  transition: width 0.3s ease-in-out;
}

.category-card.active-category::after, /* Línea completa para la categoría activa */
.category-card:hover::after {          /* Línea al pasar el cursor */
  width: 100%;
}

.category-card.active-category p,
.category-card:hover p {
  color: #F79123; /* Cambia el color del texto en la categoría activa o al hacer hover */
}
