.accordion-button {
  background-color: #f8f9fa; /* Color más suave */
  padding: 15px;
  border: none;
}

.accordion-button:hover {
  background-color: #e2e6ea;
}

.accordion-body {
  background-color: #ffffff;
  border-top: 1px solid #ddd;
}

.badge {
  font-size: 0.85rem;
}
.caja-numeros{
  margin-left: 10px;
}

.myButton {
  font-size: 13px;
  background-color: #F79123;
  color: white;
  border: 1px none #cccccc;
  border-radius: 27px;
  padding: 5px 10px;
  letter-spacing: 0px;
  margin-left: 10px;
}

.myButton:hover {
  background-color: #FF9933;
  color: white;
}

.modal-dialog{
  margin-top: 80px;
}

.popover-body{
  text-align: justify;
}

.btn-primary:hover{
  background-color: #FF9933;
  border: #FF9933
}

.btn-primary{
  background-color: #F79123;
  border: #F79123
}

