<nav class="navbar navbar fixed-top" style="background-color: #f79123;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#"></a>
      

      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasDarkNavbar" style="width: 250px;" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header" style="background-color: #f79123;justify-content: center;">
            <a class="navbar-brand" href="#">
                <img src="assets\images\logo-mecanica.jpeg" class="container-fluid" height="114" width="100" alt="Logo">
            </a>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Inventario</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Préstamos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Usuarios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Reportes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Facturas</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>