<div class="d-flex justify-content-center mt-2">
  <ul class="nav mb-0">
    <li class="nav-item">
      <a class="nav-link link-dark" routerLink="/lendings/inactive" data-bs-dismiss="offcanvas">Préstamos eliminados</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-dark" routerLink="/user-inactive" data-bs-dismiss="offcanvas">Usuarios eliminados</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-dark" routerLink="/product-inactive" data-bs-dismiss="offcanvas">Productos eliminados</a>
    </li>

  </ul>

</div>
