
<div class="container-fluid d-flex justify-content-center mt-5">
    <div class="card p-4 mt-5">
        <h2>Restablecer Contraseña</h2>
        <form [formGroup]="resetForm" (ngSubmit)="onResetPassword()">
            <div class="mb-3">
                <label class="col-form-label" for="newPassword">Nueva Contraseña:</label>
                <input class="form-control" id="newPassword" formControlName="newPassword" type="password" />
            </div>
            <div class="mb-3">
                <label class="col-form-label" for="confirmPassword">Confirmar Contraseña:</label>
                <input class="form-control" id="confirmPassword" formControlName="confirmPassword" type="password" />
            </div>
          <button type="submit" class="btn btn-primary"  [disabled]="resetForm.invalid">Restablecer</button>
        </form>
    </div>
</div>
